.cv_row{
    margin-bottom: 10px !important;
}

.btn{
    -webkit-box-shadow: 0px 2px 10px -2px rgba(0,0,0,0.76) !important;
    -moz-box-shadow: 0px 2px 10px -2px rgba(0,0,0,0.76) !important;
    box-shadow: 0px 2px 10px -2px rgba(0,0,0,0.76) !important;
    margin: 5px !important;

}

.cv_img{
    padding-top: 32px !important;
}

.cv_action{
    padding-left: 0px;
    padding-right: 0px;
}

.action_label{
    padding-left: 0px;
    padding-right: 0px;
}

.cv_list{
    /*padding-top:20px;*/
    transition: all ease .25s;
    border: 1px dotted rgba(52, 73, 94, .2);
    margin-bottom: 30px;
    border-radius: 5px;

  /*-we-webkit-box-shadow: 0px 0px 10px -1px rgba(0,0,0,0.2);*/
  /*-moz-box-shadow: 0px 0px 10px -1px rgba(0,0,0,0.2);*/
  /*box-shadow: 0px 0px 10px -1px rgba(0,0,0,0.2);*/
}

.cv_list:hover{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 100%;
    border-radius: 5px;
    background-color: rgba(149, 165, 166,0.05)   ;
}

.panel-headline {
    background-color: transparent;
    border: none !important;
}