.cv_row{
  margin-bottom: 10px !important;
}

.btn{
  -webkit-box-shadow: 0px 2px 10px -2px rgba(0,0,0,0.76) !important;
  -moz-box-shadow: 0px 2px 10px -2px rgba(0,0,0,0.76) !important;
  box-shadow: 0px 2px 10px -2px rgba(0,0,0,0.76) !important;
  margin: 5px !important;

}

.cv_img{
  padding-top: 32px !important;
}

.cv_action{
  padding-left: 0px;
  padding-right: 0px;
}

.action_label{
  padding-left: 0px;
  padding-right: 0px;
}

.cv_list{
  margin-top: 20px;
  padding-top:20px;
  transition: all ease .25s;
  border: 1px dotted rgba(26, 188, 156,.4);
  border-radius: 5px;
}

.cv_list:hover{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 100%;
  border-radius: 5px;
  background-color: rgba(149, 165, 166,0.05)   ;
}

.panel-headline {
  background-color: transparent;
  border: none !important;
}

.add-cv-btn{
  float: left;
}