.topic-box {
  border-bottom: 1px solid rgba(26, 188, 156,.2);
  margin-top: 5px;
  padding: 10px;
  border-radius: 5px;
  transition: all ease .5s;
}
.topic-box:hover {
  /*border: 1px solid rgba(26, 188, 156,1);*/
  background-color: #ecf0f1;
}

.topic-box h6 {
  margin-top: 0px !important;
  text-align: left;
  font-size: 2rem;
  color: #1abc9c;
  font-weight: 900;
}

.reg-btn {
  /*margin-top: 10px;*/
  /*margin-right: 20px !important;*/
}

.topic-title h6 {
  margin-top: 0 !important;
}

.topic-description p {
  /*background: #E0E0E0;*/
  margin: 15px 0;
}