.topics {
  height: 600px;
  overflow-y: scroll;
  padding: 20px;
}
.registered-topics {
  height: 300px;
}

.topics, .registered-topics {
  /*border: 5px solid rgba(26, 188, 156,1.0);*/
  border-radius: 5px;
  /*background-color: #fff;*/
  -webkit-box-shadow: 0px 0px 23px -5px rgba(52,73,94,0.58);
  -moz-box-shadow: 0px 0px 23px -5px rgba(52,73,94,0.58);
  box-shadow: 0px 0px 23px -5px rgba(52,73,94,0.58);
}