.topics {
  height: 600px;
  overflow-y: scroll;
  padding: 20px;
}

.registered-topics {
  height: 300px;
  overflow-y: scroll;
}

.topics, .registered-topics {
  /* border: 2px solid rgba(26, 188, 156,1.0); */
  border-radius: 5px;
}

.topic-wrap::-webkit-scrollbar {
}

.topic-wrap {
  text-align: left;
}

.new-btn-row {
  text-align: left;
  margin-top: 100px;
}

.mai-form-control {
  border: transparent;
  padding: 0;
  border-radius: 1rem;
  margin-bottom: 10px !important;
  margin-top: 10px !important;
}

.mai-input {
  width: 300px;
}

.mai-search {
  padding: 0;
  margin-top: 17px;
}

.mai-col {
  padding: 0;
}

.mai-fa-search {
  border: transparent;
  background-color: #ffffff;
}

.topic-wrap table thead th:last-child {
  text-align: left;
}

.phuong-pencil {
  color: #1abc9c;
  font-weight: bold;
  cursor: pointer;
  transition: all ease .3s;
}

.phuong-pencil:hover {
  color: #16a085;
}
