#information{

}
.info-table {
    margin-top: 80px;
    border-radius: 2px ;
    border: 2px solid #B2DFDB;
}
.sigle-report{
    margin-top: 50px;
}

.report-table {
    margin-top: 80px;
    border: 2px solid #B2DFDB;
    /*border-radius: 5px !important;*/
}
.thead-report{
    background-color:#B2DFDB;
}
