.profile-wrapper {
  text-align: left;
}
.profile-title {
  color: rgba(44, 62, 80,1.0);
  font-weight: bolder;
  text-align: center;
  font-size: 20px;
}

.user-profile {
  padding: 40px;
}

.img-circle {
  border-radius: 50%;
  margin-top: 70px;
}
.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

.panel-info>.panel-heading {
  /* color: #31708f; */
  background-color: #ffffff;
  border-color: #ffffff;
  margin-top: 40px;
}

.profile-info {
  /*background-color: red;*/
  margin-top: 30px;
  margin-left: 3.5em;
}

.profile-info span {
  font-weight: bolder;
  color: rgba(22, 160, 133,1.0);
}

.profile-info p {
  margin-bottom: 15px;
  /*background-color: red;*/
  padding: 8px 10px;
  border-bottom: 1px solid rgba(44, 62, 80,.1);
  transition: all ease .25s;
}

.profile-info p:hover {
  background-color: rgba(149, 165, 166,.1);
}