.contact-form-wrapper {
  height: 100vh;
  background-color: #34495E;
  padding: 30px 20px;
}

.contact-form-wrapper h4 {
  color: white;
}

.contact-form-wrapper form {
  text-align: left;
}

.contact-form-wrapper label {
  font-weight: bolder;
}

.contact-form-wrapper p, .contact-form-wrapper label {
  color: white;
}

.contact-form-wrapper input, .contact-form-wrapper textarea {
  background-color: transparent;
  color: white;
}

.btn-danger-custom {
  background-color: transparent;
  border: 2px solid #e74c3c;
  color: white;
}

.btn-danger-custom:hover {
  background-color: #e74c3c;
}

.btn-success-custom {
  background-color: #1abc9c !important;
  border: 2px solid #1abc9c;
  color: white;
}

.btn-success-custom:hover {
  background-color: #2ecc71 !important;
  border: 2px solid #2ecc71;
}

.center-box {
  text-align: center;
}