.wrap{
  font-family: 'Courgette', cursive;
  margin:0 auto;
  width:1000px;
}
.logo{
  margin-top:50px;
}
.logo h1{
  font-size:200px;
  color:#8F8E8C;
  text-align:center;
  margin-bottom:1px;
  text-shadow:1px 1px 6px #fff;
}
.logo p{
  color:#1abc9c;
  font-size:20px;
  margin-top:1px;
  text-align:center;
}
.logo p span{
  color:lightgreen;
}
.sub a{
  color:white;
  background:#8F8E8C;
  text-decoration:none;
  padding:20px 120px;
  font-size:13px;
  font-family: arial, serif;
  font-weight:bold;
  -webkit-border-radius:3em;
  -moz-border-radius:.1em;
  -border-radius:.1em;
}

.sub a:hover {
  background-color: #1abc9c;
}
