.company-table-respon{
  margin-top: 30px;
}

.content-company {
  background-attachment: scroll;
  background-repeat: repeat-x;
  background-color: #3B4658;
  color: #ffffff;
  text-align: left;
  border-radius: 0.3rem;
  height: 40px;
  padding-left: 7px;
}

.mai-fa-plus {
  font-weight: 30px;
  color: darkred;
}
.img-add {
  width: 50px;
}
.color-a {
  color: #395693;
}

.mai-document {
  color: darkred;
}

.size-i {
  font-size: 15px;
}

.font-content {
  font-size: 17px;
  line-height: 37px;
}
.align {
  text-align: left;
  padding-left: 20px;
}
.h6-class-responding{
  margin-top: 20px;
}
/*.table-fixed thead {
    width: 97%;
}*/
.table-fixed tbody {
  height: 230px;
  overflow-y: auto;
  width: 100%;
}

.table sigle-company-table-respon {
  margin-top: 50px;
}

.phuong-left-align {
  text-align: left;
}
.phuong-btn-group {
  text-align: center;
}

