.company-table-respon{
    margin-top: 30px;
}
.h6-class-responding{
    margin-top: 20pxc;
}
/*.table-fixed thead {
    width: 97%;
}*/
.table-fixed tbody {
    height: 230px;
    overflow-y: auto;
    width: 100%;
}

.table sigle-company-table-respon {
    margin-top: 50px;
}

.add-response{
    float: right;
}

.company-response-area{
    border: 2px solid #bdc3c7;
    color: #34495e;
    font-family: "Lato", Helvetica, Arial, sans-serif;
    font-size: 15px;
    line-height: 1.467;
    padding: 8px 12px;
    border-radius: 6px;
    box-shadow: none;
    -webkit-transition: border 0.25s linear, color 0.25s linear, background-color 0.25s linear;
    transition: border 0.25s linear, color 0.25s linear, background-color 0.25s linear;
}

.response-label{
    float: left !important;
}

.student-form{
    height: 40px;
}

.student-info-input{
    padding-left: 0px;
}